
<h1 class="text-center page-title">Sign up</h1>



<div class="container form-container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <div class="form-login">



<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :first_name,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "first-name" }%>
    <%= f.input :last_name,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "last-name" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :avatar_image, as: :file %>
  <div class="form-actions" >
    <%= f.button :submit, "Sign up", class: "btn btn-dark" %>
<% end %>
<%= render "devise/shared/links" %>
</div>
</div>


      </div>
    </div>
  </div>
</div>
