<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
    <img src="ez2schedule_logo2.png" style='width: 40px; height: 40px;' alt="">
    <% end %>
  <div class="nav-item m-1">
    <%= render "shared/search" %>
  </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <% if user_signed_in? %>
            <li class="nav-item active pe-2">
              <%= "Hello #{current_user.first_name}" %>
            </li>
            <li class="nav-item active pe-2">
              <%= link_to "Home", root_path, class: "nav-link" %>
            </li>
            <li class="nav-item pe-2">
              <%= link_to "Messages", chatrooms_path, class: "nav-link" %>
            </li>
            <li class="nav-item dropdown m-2">
              <% if current_user.avatar_image.attached?%>
                <%= cl_image_tag current_user.avatar_image.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false, :gravity=>"face", :height=>45, :width=>45, :crop=>"thumb" %>
              <% else %>
                <%= image_tag "https://www.computerhope.com/jargon/g/guest-user.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <% end %>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "Edit Profile", edit_user_registration_path, class: "dropdown-item" %>
                <%= link_to "Be a Teacher", new_teacher_path, class: "dropdown-item" if policy(Teacher).new? %>
                <%= link_to "My Student Appointments", student_appointments_appointment_path(current_user), class: "dropdown-item" if policy(Teacher).new? %>
                <%= link_to "My Teacher Appointments", teacher_appointments_appointment_path(current_user), class: "dropdown-item" if policy(Teacher).new? %>
                <%# <%= link_to "Teacher Profile", edit_teacher_path(current_user) , class: "dropdown-item" if policy(Teacher).edit? %>
                <%# <%= link_to "Another action", "#", class: "dropdown-item" %>
                <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
              </div>
            </li>
          <% else %>
            <li class="nav-item d-flex">
              <%= link_to "Login", new_user_session_path, class: "nav-link m-1" %>
              <%= link_to "SignUp", new_user_registration_path, class: "nav-link m-1" %>
            </li>
          <% end %>
      </ul>
    </div>
  </div>
</div>
