<h1>Teachers</h1>
<% if @teachers %>
  <div class= 'container'>
    <div class="row">
    <h2>Pesquisa por: <%= params[:query] %></h1>
      <%= render "teachers", teachers: @teachers %>
    </div>
  </div>
<% else %>
  <div class= 'container'>
    <div class="row">
    <h2>Ruby<h2>
      <%= render "teachers", teachers: @teachers_ruby %>
    </div>
  </div>

  <div class= 'container'>
    <div class="row">
    <h2>HTML<h2>
      <%= render "teachers", teachers: @teachers_html %>
    </div>
  </div>

  <div class= 'container'>
    <div class="row">
    <h2>CSS</h1>
      <%= render "teachers", teachers: @teachers_css %>
    </div>
  </div>
<% end %>
