<h1>Pages#home</h1>

<%= @appointments.each do |appointment| %>
<%#<%= link_to appointment_path(appointment) do %>
<div>
<%# <%= appointment.user.perfil_video %>
</div>
<div>
<h5><%= appointment.user.first_name %></h5>
<h5><%= appointment.price %></h5>
</div>
<% end %>
<%#<% end %>
<%= week_calendar do |date| %>
  <%= date %>
<% end %>
