<div class="banner mb-0 w-400 h-400 " style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://img.freepik.com/free-photo/professional-programmer-working-late-dark-office_1098-18705.jpg?w=900&t=st=1670417086~exp=1670417686~hmac=2da7c1722301eda7bce62c3c7049b76314030ab344e2d86707465264a7b5b3ae);">
  <div class="container">
    <h1 class= "text-center m-2">Ez2Schedule brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <strong><p class= "text-center">Change your life and learn to code with our teachers around the world.</p></strong>
    </div>
</div>
<div class="container">
    <%= render "shared/catbar" %>
</div>
<div class="container mx-5">
  <div class="cards-grid" id='cards'>
   <% @teachers.each do |teacher| %>
    <div>
      <div class="card mb-4 card-home ">
        <% if teacher.teacher_video.attached? %>
          <%= cl_video_tag teacher.teacher_video.key, class: 'teacher-video card-image-rounded ', controls: true, width: 300, height: 200, crop: "fill" %>
        <% elsif teacher.user.avatar_image.attached? %>
          <%= cl_image_tag teacher.user.avatar_image.key, gravity: "face", height: 250, width: 400, crop: "thumb", class: 'card-image-rounded  h-100' %>
        <% else %>
          <%= image_tag ('https://www.olivetreefilmes.com.br/wp-content/uploads/2021/05/Como-fazer-edicao-de-videos-para-Youtube-1.jpg'), class:'card-image-rounded'%>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><b><%= teacher.user.first_name %> <%=teacher.user.last_name %></b></h5>
          <hr>
          <p class="list-group-item"><%= number_to_currency(teacher.price_cents / 100.0, unit: "R$ ", separator: ",", delimiter: ".") %></p>
          <hr>
          <div class="list-group list-group-flush">
            <div class="d-flex justify-content-between">
              <div>
              <% teacher.categories.each do |category| %>
                <span class="badge rounded-pill text-bg-light">
                  <img src="<%=category.image%>" style="width:20px;height:20px;">
                  <%=category.name%>
                </span>
              <% end %>
              </div>
                <div>
                    <%teacher.categories.pluck(:image).each do |cat_image|%>
                    <% end %>
                </div>
            </div>
              <li class="list-group-item"><%#= rating average %></li>
          </div>
          <p class="text-center m-1"><%= link_to "Make appointment", new_teacher_appointment_path(teacher), class:"btn-main m-2 p-2" %></p>
        </div>
      </div>
    </div>
    <% end %>
    </div>
  </div>
</div>
