<div class="banner mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Ez2Schedule brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code with our teachers around the world.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>
<div class='container'>
  <div class="row cards-grid">
   <% @teachers.each do |teacher| %>
    <div class="col-md-4">
      <div class="card mb-4 card-home">
        <% if teacher.teacher_video.attached? %>
          <%= cl_video_tag teacher.teacher_video.key, class: 'teacher-video card-image-rounded ', controls: true, width: 400, height: 250, crop: "fill" %>
        <% elsif teacher.user.avatar_image.attached? %>
          <%= cl_image_tag teacher.user.avatar_image.key, gravity: "face", height: 300, width: 400, crop: "thumb", class: 'card-image-rounded  h-100' %>
        <% else %>
          <%= image_tag ('https://www.olivetreefilmes.com.br/wp-content/uploads/2021/05/Como-fazer-edicao-de-videos-para-Youtube-1.jpg'), class:'card-image-rounded'%>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= teacher.user.first_name %></h5>
          <ul class="list-group list-group-flush">
            <div class="list-group-item d-flex justify-content-between">
              <div>
                <li ><% teacher.categories.pluck(:name).each do |category| %>
                    <%=category%>
                  <% end %>
              </div>
              <div>
                <%teacher.categories.pluck(:image).each do |cat_image|%>
                  <img src="<%=cat_image%>" alt="" style="width:20px;height:20px;">
                  <% end %>
              </div>
            </div>
              </li>
              <li class="list-group-item "><%= number_to_currency(teacher.price, unit: 'R$') %></li>
              <li class="list-group-item"><%#= rating average %></li>
            </ul>
          <p class="text-center m-0"><%= link_to "Make appointment", new_teacher_appointment_path(teacher), class:'btn btn-main' %></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
