<div class="banner mb-0" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)), url(https://images.unsplash.com/photo-1518655048521-f130df041f66?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80);">
  <div class="container">
    <h1>Ez2Schedule brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code with our teachers around the world.</p>
    </div>
</div>
<%= render "shared/catbar" %>
<div class= 'container'>
  <div class="row cards-grid">
   <% @teachers.each do |teacher| %>
    <div class="col-3">
      <div class="card mb-4 card-home">
        <% if teacher.teacher_video.attached? %>
          <%= cl_video_tag teacher.teacher_video.key, class: 'teacher-video card-image-rounded ', controls: true, width: 300, height: 200, crop: "fill" %>
        <% elsif teacher.user.avatar_image.attached? %>
          <%= cl_image_tag teacher.user.avatar_image.key, gravity: "face", height: 300, width: 400, crop: "thumb", class: 'card-image-rounded  h-100' %>
        <% else %>
          <%= image_tag ('https://www.olivetreefilmes.com.br/wp-content/uploads/2021/05/Como-fazer-edicao-de-videos-para-Youtube-1.jpg'), class:'card-image-rounded'%>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><b><%= teacher.user.first_name %> <%=teacher.user.last_name %></b></h5>
          <hr>
          <p class="list-group-item"><%= number_to_currency(teacher.price_cents / 100.0, unit: "R$ ", separator: ",", delimiter: ".") %></p>
          <hr>
          <div class="list-group list-group-flush">
            <div class="d-flex justify-content-between">
              <div>
              <% teacher.categories.each do |category| %>
                <span class="badge rounded-pill text-bg-light">
                  <img src="<%=category.image%>" style="width:20px;height:20px;">
                  <%=category.name%>
                </span>
              <% end %>
              </div>
                <div>
                    <%teacher.categories.pluck(:image).each do |cat_image|%>
                    <% end %>
                </div>
            </div>
              <li class="list-group-item"><%#= rating average %></li>
          </div>
        </div>
         <p class="text-center m-2"><%= link_to "Make appointment", new_teacher_appointment_path(teacher), class:'btn btn-secondary rounded-pill' %></p>
      </div>
    </div>
    <% end %>
    </div>
  </div>
</div>
