<% if @room %>
 <script src="https://static.opentok.com/v2/js/opentok.min.js"></script>
  <div id="videos">
      <div id="subscriber">
        <section class="noSubscriber">
          <div>
            <%= link_to "Leave room", root_path, class: 'btn btn-outline-light mt-3 mb-3 leave-room'  %>
          </div>
        </section>
      </div>
      <div id="publisher"></div>
  </div>
  <%= javascript_tag do %>
    <%= render(:partial => 'video', :handlers => [:erb], :formats => [:js]) %>
  <% end %>
<% else %>
   <div class="noRoomContainer">
    <section class="noRoom">
      <h1>Lost in the clouds?</h1>
      <p>
        The room <strong>⁨/<%= params[:name] %></strong>⁩ is nowhere to be found. Are you sure you’ve entered the correct address?
      </p>
      <%= link_to root_path do %>
        <button class="greenBtn">
          Back to homepage
        </button>
      <% end %>
    </section>
   </div>
<% end %>
