<%= simple_form_for teacher do |f| %>
  <h1 class= 'mt-5 text-center'>Register as a Teacher</h1>
  <div class="new-teacher-form">
    <div class='row'>
      <div class='col-3'>
        <strong><label class= mb-3>Availibility</label></strong>
        <%= f.input :monday, as: :boolean %>
        <%= f.input :tuesday, as: :boolean %>
        <%= f.input :wednesday, as: :boolean %>
        <%= f.input :thursday, as: :boolean %>
        <%= f.input :friday, as: :boolean %>
        <%= f.input :saturday, as: :boolean %>
        <%= f.input :sunday, as: :boolean %>
      </div>
      <div class="col-3">
        <strong><%= f.input :start_time, discard_minute: true, required: true, selected: 10 %></strong>
        <strong><%= f.input :end_time, discard_minute: true, required:true %></strong></strong>
        <strong><%= f.input :price, :label => 'R$', required: true %></strong>
      </div>

      <div class="col-6">
        <strong><%= f.input :categories, collection: Category.all, input_html: { multiple: true, data:{controller: 'tom-select'} } %></strong>
        <strong><label class=mb-3>Location</label></strong>
        <div class='d-flex justify-content-around'>
        <%= f.input :remote, as: :boolean %>
        <%= f.input :in_person, as: :boolean %>
        </div>
        <strong><%= f.input :teacher_video, as: :file %></strong>
        <%= f.button :submit, class: "btn btn-dark mt-5" %>
        <%= f.error :user, class:'text-danger'%>
      </div>
    </div>
  </div>
<% end %>
