<div class="container">
  <div class="row py-4">
    <div class="col">
      <div class="d-flex justify-content-center">
      <div>
        <div>
          <h1>Checkout summary</h1>
        </div>
        <div class="d-flex">
          <div class="p-2">
            <% if @appointment.teacher.teacher_video.attached? %>
              <%= cl_video_tag @appointment.teacher.teacher_video.key, class: 'card-image-rounded ', controls: true %>
            <% elsif @appointment.teacher.user.avatar_image.attached? %>
              <%= cl_image_tag @appointment.teacher.user.avatar_image.key, :gravity=>"face", :height=>300, :width=>400, :crop=>"thumb", class: 'card-image-rounded  h-100' %>
            <% else %>
              <%= image_tag ('https://www.olivetreefilmes.com.br/wp-content/uploads/2021/05/Como-fazer-edicao-de-videos-para-Youtube-1.jpg'), class:'card-image-rounded',  :height=>300, :width=>400%>
            <% end %>
          </div>
          <div class="p-2">
            <p><strong>Teacher: <%= @appointment.teacher.user.first_name %></strong> </p>
            <p><strong>Price: <%= humanized_money_with_symbol(@appointment.teacher.price_cents) %></strong></p>
            <p><strong> <%=  @appointment.start_time.strftime("Date: %F | Starting Time: %T") %> </strong></p>
            <p><strong><%= @appointment.remote ? "Remote" : "In person" %></strong></p>
            <button id="pay" class="btn btn-primary">Purchase</button>
            <script src="https://js.stripe.com/v3/"></script>
            <script>
            const paymentButton = document.getElementById('pay');
            paymentButton.addEventListener('click', () => {
              const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
              stripe.redirectToCheckout({
                sessionId: '<%= @appointment.checkout_session_id %>'
              });
            });
            </script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
