<div>
<%= simple_form_for [@teacher, @appointment] do |f| %>
<%= f.input :description, class:"p-3 mb-2 bg-dark text-white" %>
<%= f.input :categories, collection: @teacher.categories %>
<%= f.input :start_time, as: :hidden, input_html: {data: {teacher_calendar_target: "start"}} %>
<%= f.input :end_time, as: :hidden, input_html: {data: {teacher_calendar_target: "end"}} %>
<div class="d-flex justify-content-around">
<%= f.input :remote %>
<%= f.input :in_person %>
</div>
<p class="form-new-appointment-price"> Preço: <%= humanized_money_with_symbol(appointment.teacher.price) %></p>
<div>
  <%= form_with url: appointments_path do %>
  <%= hidden_field_tag 'appointment_id', @appointment.id %>
  <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
<% end %>
</div>
<% end %>
</div>
