<div class="container mt-4">
  <div class="row">
    <div class="col-12 m-auto">
      <h1 class="page-title text-center mb-4">Review Your Appointment</h1>
      <div class='d-flex justify-content-center'>
        <div class='review-card'>
          <%= simple_form_for @appointment, url: review_appointment_path(@appointment), method: :patch do |f| %>
          <p><b>Teacher: </b><%="#{@appointment.teacher.user.first_name}"%></p>
          <p><b>Date:</b><%="#{@appointment.start_time.strftime(' %A, %B %d, %Y at %H:%M %p')}" %></p>
            <b><%= f.input :rating, collection: 0..5, :input_html => {:maxlength =>1,:style=> 'width:100px'} %></b>
            <b> <%= f.input :review_content, :label => "Review"%></b>
            <%= f.submit 'Submit Review', class: 'btn btn-dark my-3' %>
          <% end %>
          <%= link_to "Back to My Appointments", student_appointments_appointment_path, class: 'links' %>
        </div>
      </div>
    </div>
  </div>
</div>
