<h2 class= 'p-5 text-center'>My Student Appointments<h2>
<div class= 'container '>
  <div class="row d-flex justify-content-center">
    <% @appointments.each do |appointment| %>
    <div class="col-md-4">
      <div class="card card-image-rounded mb-5" >
        <% if appointment.teacher.teacher_video.attached? %>
          <%= cl_video_tag appointment.teacher.teacher_video.key, class: 'appointment-video', controls: true %>
        <% elsif appointment.teacher.user.avatar_image.attached? %>
          <%= cl_image_tag appointment.teacher.user.avatar_image.key, :gravity=>"face", :height=>300, :width=>400, :crop=>"thumb", class: 'card-image-rounded  h-100' %>
        <% else %>
          <%= image_tag ('https://www.olivetreefilmes.com.br/wp-content/uploads/2021/05/Como-fazer-edicao-de-videos-para-Youtube-1.jpg'), class:'card-image-rounded'%>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= appointment.teacher.user.first_name %></h5>
          <p class="card-text card-font"><%=appointment.teacher.user.about%></p>
        </div>
          <ul class="list-group list-group-flush">

              </li>
              <li class="list-group-item card-font "><%= number_to_currency(appointment.teacher.price, unit: 'R$') %></li>
              <%# <li class="list-group-item card-font"><%= rating average %></li>
              <li class="list-group-item card-font"><%= appointment.description %></li>
            <div>
              <% appointment.categories.each do |category|%>
                <li class="list-group-item card-font"><%= category.name%></li>
                <%end%>
            </div>
              <li class="list-group-item card-font" ><%= appointment.start_time.strftime('Data: %F | Hora: %T') %></li>
              <li class="list-group-item card-font"><%= appointment.end_time.strftime('Data: %F | Hora: %T') %></li>
              <li class="list-group-item card-font"><%= appointment.remote ? 'Remote' : 'In-Person' %></li>
            </ul>
           <p class="text-center m-3"><%= link_to "Appointment Details", appointment_path(appointment), class:'btn btn-main' %>



      </div>
    </div>
    <% end %>
  </div>
</div>
